<div class="menu-container">
  <div class="menu-page-title">
    <h1 class="menu-page-title-header">Sign Up and Get Started Today!</h1>
    <br>
    <h2 class="menu-page-title-header">We offer a wide range of programming languages for all kinds of purposes. </h2>
    <h2 class="menu-page-title-header">Check them out and learn with us!</h2>
    <br>
  </div>

  <div class="menu-card" id="ruby-card">
    <div class="card-body" id="ruby-text">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-image" id="ruby-image">
      <img class="card-img-top" src="https://s-media-cache-ak0.pinimg.com/236x/30/c2/c9/30c2c9b6652aeb0f7781890980e05706--ruby-programming-programming-languages.jpg" alt="Card image cap">
      <h1 class="card-title">Ruby</h1>
    </div>
  </div>
  <div class="menu-card" id="js-card">
    <div class="card-body" id="js-text">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-image" id="js-image">
      <img class="card-img-top" src="https://i.pinimg.com/736x/03/d4/71/03d471c6a43c17a3496228b5b43512e6--computer-programming-computer-coding.jpg" alt="Card image cap">
      <h1 class="card-title">JavaScript</h1>
    </div>
  </div>
  <div class="menu-card" id="python-card">
    <div class="card-body" id="python-text">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-image" id="python-image">
      <img class="card-img-top" src="http://www.barriblog.com/wp-content/uploads/2011/02/python.png" alt="Card image cap">
      <h1 class="card-title">Python</h1>
    </div>
  </div>
</div>
