<div class="languages">
  <div class="languages-tagline">
    <h1>Languages</h1>
    <br>
    <h2>We offer quite a few of fun and intuitive modules on different programming languages</h2>
    <h2>Pick your favorite and start coding today!</h2>
  </div>
  <br>
  <button class="accordion">
    <h2>Section 1</h2>
  </button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">
    <h2>Section 2</h2>
  </button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">
    <h2>Section 3</h2>
  </button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

</div>
