<div class="languages">
  <div class="languages-tagline">
    <h1>Languages</h1>
    <br>
    <h2>We offer quite a few of fun and intuitive modules on different programming languages</h2>
    <h2>Pick your favorite and start coding today!</h2>
  </div>

  <br>

  <button class="accordion">
    <h2>Ruby</h2>
  </button>
  <div class="panel">
    <br>
    <p>Ruby is an elegant langauge that looks almost like English. Almost, but not quite yet.</p>
    <br>
    <div>
      <button class="sub-accordion">
        <h3>Chapter 1 - Variables</h3>
      </button>
      <div class="sub-panel">
        <br>
        <p>Module 1 - Variables:
          What is a variable? What's the use of a variable? Why are they important?
          In this lesson, you will learn about different types of variables in Ruby.
          At the end of the module, practice with our fun exercises to test your knowledge, and you will be a Ruby master in no time!
        </p>
        <button class="start-now" type="button" name="button">Start Now</button>
        <br>
      </div>

    </div>

  </div>

  <button class="accordion">
    <h2>Javascript</h2>
  </button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">
    <h2>Python</h2>
  </button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

</div>
