<div class="languages">
  <div class="languages-tagline">
    <h2>Languages</h2>
    <br>
    <p>We offer quite a few of fun and intuitive modules on different programming languages</p>
    <p>Pick your favorite and start coding today!</p>
  </div>

  <br>

<%# ---------- The languages selction accordion starts here ---------- %>
  <div class="gurjant">
    <%# ------ The accordion begins ------ %>
    <ul class="accordion">
      <%# --- The Ruby accordion begins %>
      <li class="sub-accordion">
        <a class="toggle title" href="javascript:void(0);">Ruby</a>
        <ul class="inner">
          <li>
            <a href="#" class="toggle sub-title">Chapter 1: Variables</a>
            <div class="inner content">
              <p>What is a variable? What's the use of a variable? Why are they important?</p>
              <p>In this lesson, you will learn about different types of variables in Ruby.</p>
              <p>At the end of the module, practice with our fun exercises to test your knowledge, and you will be a Ruby master in no time!</p>
              <a class="start-button" href= '/languages/ruby/chapters/1/steps/1' type="button" name="button">Start Now</a>
            </div><%# class "inner content" ends %>
          </li>
          <li>
            <a href="#" class="toggle sub-title">Chapter 2: Methods</a>
            <div class="inner content">
              <p>What is a variable? What's the use of a variable? Why are they important?</p>
              <p>In this lesson, you will learn about different types of variables in Ruby.</p>
              <p>At the end of the module, practice with our fun exercises to test your knowledge, and you will be a Ruby master in no time!</p>
              <a class="start-button" href= "/" type="button" name="button">Start Now</a>
            </div><%# class "inner content" ends %>
          </li>
          <li>
            <a href="#" class="toggle sub-title">Chapter 3: Arrays & Hashes</a>
            <div class="inner content">
              <p>What is a variable? What's the use of a variable? Why are they important?</p>
              <p>In this lesson, you will learn about different types of variables in Ruby.</p>
              <p>At the end of the module, practice with our fun exercises to test your knowledge, and you will be a Ruby master in no time!</p>
              <a class="start-button" href= "/" type="button" name="button">Start Now</a>
            </div><%# class "inner content" ends %>
          </li>
        </ul><%# class "inner" ends here %>
      </li><%# class "sub-accordion" ends here %>
      <%# --- The Ruby accordion ends %>

      <%# --- The Javascript accordion begins %>
      <li class="sub-accordion">
        <a class="toggle title" href="javascript:void(0);">Javascript</a>
        <ul class="inner">
          <li>
            <a href="#" class="toggle sub-title">Chapter 1: Variables</a>
            <div class="inner">
              <p>What is a variable? What's the use of a variable? Why are they important?</p>
              <p>In this lesson, you will learn about different types of variables in Ruby.</p>
              <p>At the end of the module, practice with our fun exercises to test your knowledge, and you will be a Ruby master in no time!</p>
              <a class="start-button" href= "/" type="button" name="button">Start Now</a>
            </div><%# class "inner content" ends %>
          </li>
          <li>
            <a href="#" class="toggle sub-title">Chapter 2: Functions</a>
            <div class="inner">
              <p>What is a variable? What's the use of a variable? Why are they important?</p>
              <p>In this lesson, you will learn about different types of variables in Ruby.</p>
              <p>At the end of the module, practice with our fun exercises to test your knowledge, and you will be a Ruby master in no time!</p>
              <a class="start-button" href= "/" type="button" name="button">Start Now</a>
            </div><%# class "inner content" ends %>
          </li>
          <li>
            <a href="#" class="toggle sub-title">Chapter 3: Log</a>
            <div class="inner">
              <p>What is a variable? What's the use of a variable? Why are they important?</p>
              <p>In this lesson, you will learn about different types of variables in Ruby.</p>
              <p>At the end of the module, practice with our fun exercises to test your knowledge, and you will be a Ruby master in no time!</p>
              <a class="start-button" href= "/" type="button" name="button">Start Now</a>
            </div><%# class "inner content" ends %>
          </li>
        </ul><%# class "inner" ends here %>
      </li><%# class "sub-accordion" ends here %>
      <%# --- The Javascript accordion ends %>
      
    </ul><%# class "accordion" ends here %>

  </div><%# class "gurjant" ends here %>
</div><%# class "languages" ends here %>
