<h1>Welcome to <%= @current_language.name %> </h1>

<h3>You've always had the power my Dear, you just had to learn it for yourself.</h3>
<h5> - Glinda, the Good Witch of the South </h5>

<ul>
  <% @current_language.chapters.each do |chapter| %>
  <li>
    <%= chapter.name %>
  </li>
  <% end %>
</ul>
