<div class="banner">
  <h1>Happily learn coding at your own pace</h1>
  <h1>at anywhere, anytime.</h1>
  <img src="https://ca.res.keymedia.com/files/image/learning(1).jpg" class="img-fluid" alt="Responsive image">
  <button id='signupnow' class="btn btn-outline-success btn-lg" type="button" data-toggle="modal" data-target="#signUpModal">Sign Up Now!</button>
</div>
