<div class="banner">
  <h1>Happily learn coding at your own pace</h1>
  <h1>at anywhere, anytime.</h1>
  <img src="https://ca.res.keymedia.com/files/image/learning(1).jpg" alt="some image">
  <button id='signupnow' class="btn btn-outline-success btn-lg" type="button"><%= link_to "Sign Up Now", new_user_path%></button>
</div>
