<div class="banner">
  <h1 class="banner-tagline">Happily learn coding at your own pace</h1>
  <h1 class="banner-tagline">at anywhere, anytime.</h1>
  <img src="https://images.pexels.com/photos/34676/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb" id="banner-image" class="img-fluid" alt="Responsive image">
  <button id='signupnow' class="btn btn-outline-success btn-lg" type="button" data-toggle="modal" data-target="#signUpModal">Sign Up Now!</button>
</div>
