<div class="instructors-languages">
  <h2>Welcome back, <%= current_user.name %></h2>
  <br>
  <p>As an instructor, you can update the content of the following languages in our syllabus</p>
  <br>
  <p>----------------------------------------</p>
  <br>
  <h3>
    <% @languages.each do | l | %>
      <%= l.name.upcase %> <br>
      <small> <%=link_to "Edit", edit_instructors_language_path(l.id)%> | <%=link_to "Analytics", instructors_language_path(l.id)%> </small>
    <%end%>
  </h3>
</div>
