<div class="about-us">
  <div class="about-us-intro">
    <h2>About Us</h2>
    <br>
    <p>We all came from a different professional background, but share one thing in common - We love technology and coding.</p>
    <p>It is our passion that draws us into the world of programming and development. Through GA Bitmaker, the leading coding bootcamp in Toronto, we attained the necessary skillsets to set-sail our programming journey.</p>
    <p>We call ourselves lifetime student in the art of programming and design, and our journey starts with our first project together - TeachME</p>
  </div>

  <div class="container about-us">
    <div class="row about-us">
      <%# --- Kaiser card starts here --- %>
      <div class="col-lg-3 about-us">
        <div class="mx-auto card about-us">
          <img class="card-img-top about-us" src="https://d13yacurqjgara.cloudfront.net/users/35682/screenshots/2499616/drib-storm-4.jpg" alt="Card image cap">
          <h4>Kaiser Chan</h4>
          <p class="card-text about-us">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
        </div>
      </div><%# --- Kaiser card ends here --- %>

      <%# --- Navi card starts here --- %>
      <div class="col-lg-3 about-us">
        <div class="mx-auto card about-us">
          <img class="card-img-top about-us" src="https://cdn.artstation.com/p/assets/images/images/000/610/059/large/julio-cesar-katiucha-copia.jpg?1428449827" alt="Card image cap">
          <h4>Navi Mann</h4>
          <p class="card-text about-us">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
        </div>
      </div><%# --- Navi card ends here --- %>

      <%# --- Lobsang card starts here --- %>
      <div class="col-lg-3 about-us">
        <div class="mx-auto card about-us">
          <img class="card-img-top about-us" src="https://d13yacurqjgara.cloudfront.net/users/283823/screenshots/2683431/superman-01.jpg" alt="Card image cap">
          <h4>Lobsang Tenzin</h4>
          <p class="card-text about-us">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
        </div>
      </div><%# --- Lobsang card ends here --- %>

      <%# --- Jason card starts here --- %>
      <div class="col-lg-3 about-us">
        <div class="mx-auto card about-us">
          <img class="card-img-top about-us" src="https://files.muzli.space/fe642c5945dc3b1190763598b09a01c3.png" alt="Card image cap">
          <h4>Jason Harder</h4>
          <p class="card-text about-us">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate</p>
        </div>
      </div><%# --- Jason card ends here --- %>

    </div><%# --- class "row about-us" ends here --- %>
  </div><%# --- class "container about-us" ends here --- %>
</div>
